// SPDX-FileCopyrightText: 2022 Hipinspire <https://www.hipinspire.com/>
// SPDX-FileCopyrightText: 2022 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: AGPL-3.0-or-later

@import "./variables";

footer {
    padding: 50px 0px 20px;
    background-color: #0F0833;

    .footer-logo {
        width: 100%;
        //max-width: 105px;
        margin: 0px auto;
        padding-top: 2rem;
        color: white;

        .widget_media_image {
            max-width: 105px;
            margin-bottom: 3rem;

            img {
                max-width: 100%;
                height: auto;
            }

        }

        .textwidget {
            margin-bottom: 3rem;
        }


        .widget_search {
            h3.widget-title {
                display: none;
            }
        }


        .searchform { //form
            opacity: 0.7;
            transition: all 0.3s ease;

            &:focus, &:hover {
                opacity: 1;
            }

            & > div {
                position: relative;
                width: 80%;

                input#s {
                    padding: 8px 21px;
                    border-radius: 25px;
                    border: 0;
                    width: 100%;
                }

                #searchsubmit {
                    border: 0;
                    position: absolute;
                    right: 13px;
                    height: 100%;
                    background-color: transparent;
                    color: $textColor;
                }

            }

            

        }
        

        @media (max-width: $tablet-breakpoint) {
            & {
                margin-bottom: 2rem;
                text-align: center;

                .widget_media_image {
                    margin-left: auto;
                    margin-right: auto;
                }

                .searchform > div{
                    margin: auto;
                }
            }
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.12);
    }

    .foot-text {
        padding: 35px 0px 15px;

        p {
            color: rgba(255, 255, 255, 0.50);
            font-size: 13px;
            /*font-weight: 600;*/
            margin: 0px;
        }
    }

    #menu-footer-menu-container {
        //padding: 50px 0px 40px 155px;

        .footer-menu {
            padding: 0px;
            margin: 0px;
            list-style: none;
            display: flex;
            //flex-direction: row;
            justify-content: flex-end;
            margin-bottom: 2rem;

            @media (max-width: $xs-breakpoint) {
                flex-wrap: wrap;

                li {
                    width: 100%;
                    ul {
                        //padding: 10px 0px 50px;
                    }
                }
            }

            & > li {
                flex: 0 0 auto;
                margin-bottom: 10px;
                //width: 30%;
                //padding: 1rem 2rem;
                

                @media (min-width: $xl-breakpoint) {
                    & {
                        padding: 0 3rem;
                    }
                }

                a {
                    color: #fff;
                    font-size: 13px;
                    font-weight: 600;
                    padding: 8px;
                    display: block;
                }

                ul.sub-menu {
                    padding: 10px 0px 0px;
                    margin: 0px;
                    list-style: none;

                    li {
                        display: block;
                        width: 100%;
                        //padding: 9px;

                        a {
                            font-weight: 400;
                            &:focus, &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 1199.98px) {
            
            //padding: 50px 0px 40px 0px;

            .footer-menu li {
                width: 33.3333333333333333%;
                text-align: center;
            }

        }
    }

    .social-media-holder {
        padding-top: 35px;
        width: 100%;

        .social-menu {
            padding: 0px;
            margin: 0px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            li {
                margin: 0px 0px 15px 30px;

                a {
                    opacity: 0.5;
                    transition: all 0.3s ease;
                    color: #fff;

                    &:hover {
                        opacity: 1;
                    }

                    img {
                        width: 20px;
                        //max-height: 20px;
                        //width: auto;
                        height: auto;
                        
                    }

                }
            }
        }
    }
}

.scroll_up {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 4px 10px;
    z-index:9;
    border-radius: 5px;
    background-color: #fff;
    color: $mainColor;
    border: 1px solid $mainColor;

    &:hover {
        background-color: $mainColor;
        color: #fff;
    }
}