.nf-before-form-content, .nf-form-title, .nf-after-form-content, .nf-form-content {
  max-width: 800px !important;
  margin: 0 auto;
  display: block;
  padding: 5px;
}

.nf-after-form-content {
  margin-bottom: 2rem;
}

.data-sheet-section .nf-after-form-content, .whitepaper-section .nf-after-form-content, .case-study-section .nf-after-form-content {
  margin-bottom: 0rem;
  padding: 0;
}

.nf-form-title {
  text-align: center;
  max-width: 600px !important;
  margin: 3rem auto 1rem auto;
}

.nf-form-content .list-select-wrap .nf-field-element > div,
.nf-form-content input:not([type=button]),
.nf-form-content input:not([type=submit]),
.nf-form-content textarea {
  border-radius: 10px !important;
}
.nf-form-content .nf-error.field-wrap .nf-field-element:after {
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
}

.nf-response-msg {
  display: block;
  max-width: 800px;
  margin: 4rem auto;
}

.nf-form-fields-required {
  display: none;
}

.post-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0px 8px 10px 0px rgba(0, 116, 178, 0.08);
  overflow: hidden;
}
.post-holder .post-img {
  width: 100%;
  height: 0px;
  padding-top: 55%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0px;
}
.post-holder .nf-before-form-content {
  padding: 0px;
}
.post-holder .nf-before-form {
  display: none;
}
.post-holder .post-body {
  margin: 0px;
  padding: 20px 20px 25px;
}
.post-holder .post-body h5 {
  min-height: 60px;
  color: #0C0726;
  font-size: 24px;
  font-weight: 700;
  margin: 0px 0px 10px;
}
.post-holder .post-body p {
  line-height: 156%;
  margin: 0px;
}
.post-holder .form-body {
  width: 100%;
  margin: auto 0px 0px 0px;
  padding: 0px 20px 20px;
}
.post-holder .form-body .wpcf7 form.invalid .wpcf7-response-output,
.post-holder .form-body .wpcf7 form.unaccepted .wpcf7-response-output,
.post-holder .form-body .wpcf7 form.payment-required .wpcf7-response-output {
  font-size: 14px;
}
.post-holder .form-body .wpcf7-not-valid-tip {
  font-size: 12px;
}
.post-holder .form-body .nf-form-title {
  margin: 0 !important;
}
.post-holder .form-body .nf-form-content {
  width: 100%;
  position: relative;
}
.post-holder .form-body .nf-form-content .input-holder {
  width: 100%;
}
.post-holder .form-body .nf-form-content .input-holder.hidden-input {
  display: none;
}
.post-holder .form-body .nf-form-content .input-holder input {
  width: 100%;
  height: 48px;
  padding: 0px 160px 0px 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: transparent;
  border-radius: 24px !important;
  -webkit-border-radius: 24px;
  color: #000;
  font-size: 16px;
}
.post-holder .form-body .nf-form-content .input-holder .nf-field-element::after {
  content: "" !important;
  display: none;
}
.post-holder .form-body .nf-form-content .submit-holder {
  position: absolute;
  top: 4px;
  right: 0px;
  width: 140px;
  height: 48px;
}
.post-holder .form-body .nf-form-content .submit-holder input {
  width: 100%;
  min-width: 140px;
  height: 48px;
  border: 1px solid #0F0833;
  background-color: #0F0833;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
}
.post-holder .form-body .nf-form-content .check-holder {
  padding-top: 0px;
  text-align: left;
  margin-bottom: 10px;
}
.post-holder .form-body .nf-form-content .check-holder .checkbox-wrap {
  display: inline;
}
.post-holder .form-body .nf-form-content .check-holder a {
  color: #000;
  text-decoration: underline;
}
.post-holder .form-body .nf-form-content .check-holder label {
  font-weight: normal;
  display: inline;
  color: #000;
  font-size: 14px;
}
.post-holder .form-body .nf-form-content .check-holder label a {
  color: #000;
  text-decoration: underline;
}
.post-holder .form-body .nf-form-content .check-holder br {
  display: none;
}
.post-holder .form-body .nf-form-content .check-holder .wpcf7-list-item {
  margin: 0px;
}
.post-holder .form-body .nf-form-content .check-holder .wpcf7-checkbox label {
  cursor: pointer;
  color: #000;
  font-size: 14px;
}
.post-holder .form-body .nf-form-content .check-holder .wpcf7-checkbox input[type=checkbox] {
  display: none;
}
.post-holder .form-body .nf-form-content .check-holder .wpcf7-checkbox input[type=checkbox] + span {
  display: block;
  position: relative;
  padding-left: 25px;
}
.post-holder .form-body .nf-form-content .check-holder .wpcf7-checkbox input[type=checkbox] + span:before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  height: 20px;
  width: 20px;
  top: 0px;
  left: 0px;
  background-color: #FFF;
  background-image: url("../img/check-square.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.post-holder .form-body .nf-form-content .check-holder .wpcf7-checkbox input[type=checkbox]:checked + span:before {
  background-color: #000;
}/*# sourceMappingURL=forms.css.map */