// SPDX-FileCopyrightText: 2022 Hipinspire <https://www.hipinspire.com/>
// SPDX-FileCopyrightText: 2022 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: AGPL-3.0-or-later

body.admin-bar {
    //margin-top: 32px;

    header {
        top: 32px !important;
    }
}

.page-id-46558 {
    .header-holder, #menu-footer-menu-container, .get-started-section, footer {
        display: none;
    }
}


header {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: auto;
    z-index: 999 !important;
    background-color: transparent;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;


    &.with-promo-banner {

        .header-holder {
            @media screen and (max-width: $menu-custom-breakpoint) {
                &{
                    padding-top: 10px;
                }
            }
        }


        & + .wrapper {
            & > section.titlebar {
            
                padding-top: 14rem !important;

            }

            & > section.home-hero-section {
                padding-top: 7rem !important;
                @media screen and (max-width: $md-breakpoint) {
                    &{
                        padding-top: 11rem !important;
                    }
                }
            }
        }
    }



    .top-banner-vote{
        height: 50px;
        background: #fff;
        //margin-bottom: 10px;
        transition: all 0.3s ease;
        overflow: hidden;

        .container, .row {
            height: 100%;
        }

        .nc-awards-banner{
            display: flex;
            height: 100%;

            background: url("../img/confetti-background.svg");

            background-size: 320px auto;
            background-position: right 13% top 42%;
            background-repeat: no-repeat;

            gap: 2rem;
            justify-content: center;
            align-items: center;

            .cloudcomputing-logo {

                a {
                    display: block;
                    height: 100%;

                    &:focus {
                        border: 1px solid $mainColor;
                    }

                    img {
                        height: 45px;
                        max-height: 45px;  
                    }

                }
                
            }

            .awards-text{
                font-size: 1.2em;

                a{
                    color: #0C0726 !important;

                    p {
                        margin: 0 !important;
                    }
                }
                
            }

            .btn-awards {
                a {
                    white-space:nowrap;

                    i.right {
                        margin-left: 6px;
                        margin-right: 0 !important;
                    }
                }
            }

        }


        @media screen and (max-width:991px) {
            &{
                .awards-text {
                    font-size: 1em !important;
                    b{
                        display: inline-block;
                    }
                }
            }
        }

        @media screen and (max-width: $md-breakpoint) {
            &{
                .awards-text{
                    display: none;
                }
            }
        }

        @media screen and (max-width:400px) {
            &{

                .nc-awards-banner{
                    gap: 1rem !important;

                    background-size: 279px auto !important;
                    background-position: right -117% top 41% !important;
                    
                }
                

                .cloudcomputing-logo {
                    img {
                        height: 10vw !important;
                    }
                }
            }
        }
        


    }

    

    &.active {
        background: linear-gradient(45deg, $mainColor , $lightColor );
        bottom: 0px;

        .top-banner-vote{
            //height: 0;
        }

        .container {
            height: 100vh;
            overflow-y: scroll !important;
        }
    }

    .header-holder {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo-holder {
            flex: 0 0 88px;
            max-width: 88px;


            a.custom-logo-link {
                display: block;
                height: 100%;

                &:focus {
                    //border: 1px solid #fff;
                }

                img {
                    transition: max-height 0.3s ease;
                    max-width: 88px;
                    max-height: 58px;
                    width: auto;
                    height: auto;
                }

            }

            
        }

        .phone-menu {
            border: none;
            margin: 0px;
            padding: 0px;
            cursor: pointer;
            background-color: transparent;

            &.change {
                .bar1 {
                    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
                    transform: rotate(-45deg) translate(-6px, 6px);
                }

                .bar2 {
                    opacity: 0;
                }

                .bar3 {
                    -webkit-transform: rotate(45deg) translate(-8px, -8px);
                    transform: rotate(45deg) translate(-8px, -8px);
                }
            }

            .bar1,
            .bar2,
            .bar3 {
                width: 31px;
                height: 3px;
                background-color: #fff;
                margin: 7px 0;
                transition: 0.4s;
            }
        }

        .header-items {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;

            #menu-primary-menu-container {
                flex: 1;

                .primary-menu {
                    padding: 0px;
                    margin: 0px;
                    list-style: none;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: row;

                    &>li {
                        transition: all 0.3s ease;

                        position: relative;
                        padding: 16px 0px;
                        margin: 0px 8px;
                        display: inline-block;

                        &:not(.nav-btn) > a {
                            padding: 16px 12px;
                            border-radius: 27px;
                            -webkit-border-radius: 27px;

                            /*
                            &:focus {
                                outline: none;
                                border: 2px solid #fff;
                                padding: 14px 10px;
                            }
                            */
                        }

                        &.nav-btn {
                            & > a {
                                background-color: #fff;
                                color: $textColor;
                                padding: 10px 20px;
                                border-radius: 27px;
                                -webkit-border-radius: 27px;
                                transition: all 0.3s ease;
                                margin: 6px auto;
                                white-space: nowrap;

                                /*
                                &:focus {
                                    border: 2px solid black;
                                    padding: 14px 18px;
                                    outline: none;
                                }
                                */

                                &:hover {
                                    background-color: $mainColor;
                                    color: #fff;
                                }

                            }

                            &.open {
                                & > a {
                                    background-color: $mainColor;
                                    color: #fff;
                                }
                            }

                        }

                        &.download {
                            & > a {
                                padding-left: 15px;

                                &:before {
                                    position: relative;
                                    content: "\f381";
                                    font-family: 'Font Awesome 5 Free';
                                    font-weight: 900;
                                    margin-right: 10px;
                                    color: $textColor;
                                }

                                &:hover {
                                    color: #fff;

                                    &:before {
                                        color: #fff;
                                    }


                                }
                            }

                            &.open {
                                & > a {
                                    background-color: $mainColor;
                                    color: #fff;

                                    &:before {
                                        color: #fff;
                                    }

                                }
                            }

                        }

                        &.menu-item-has-children {

                            /*
                            .sub-menu {
                                opacity: 0;
                                top: -50%;
                                transition: 0.3s all ease;
                            }
                            */

                            &:hover {
                                .sub-menu {
                                    display: block;
                                    //opacity: 1;
                                    //top: 100%;
                                }
                            }

                            &.menu-item-has-children.open {
                                .sub-menu {
                                    display: block;
                                    //opacity: 1;
                                    //top: 100%;
                                }
                            }
                        }

                        a {
                            color: #ffffff;
                            font-size: 16px;
                            font-weight: 600;
                            padding: 16px 0;
                            display: inline-block;
                            position: relative;
                        }

                        &:not(.nav-btn):not(.wpml-ls-item) {
                            & > a {
                                color: #ffffff;
                                font-size: 16px;
                                font-weight: 600;
                                //padding: 16px 0;
                                display: inline-block;
                                position: relative;
    
                                @media screen and (min-width: $xl-breakpoint) {
                                    &:after {
                                        content: "";
                                        position: absolute;
                                        bottom:6px;
                                        left: 12px;
                                        height: 2px;
                                        width: 0px;
                                        background-color: #fff;
                                        transition: all 0.3s ease;
                                    }
                                }
    
                                &:hover {
                                    //opacity: 0.7;
                                    &:after {
                                        width: 24px;
                                    }
                                }
                            }

                            &.current-menu-parent, &.current-menu-ancestor {
                                a {
                                    &:after {
                                        width: 24px;
                                    }
                                }
                            }
                        }

                        &.wpml-ls-item {
                            & > a {


                                &:before {
                                    content: "\f0ac";
                                    font-family: 'Font Awesome 5 Free';
                                    font-weight: 900;
                                    position: absolute;
                                    //top: 17px;
                                    left: 0;
                                }

                                padding-left: 16px;
                                text-transform: uppercase;

                                /*
                                &:after {
                                    content: "\f107";
                                    font-family: 'Font Awesome 5 Free';
                                    font-weight: 900;
                                    position: absolute;
                                    top: 17px;
                                    right: -7px;
                                    left: auto;
                                }
                                */

                                img.wpml-ls-flag {
                                    max-width: 23px;
                                    height: 23px;
                                    border-radius: 50%;
                                    display: none;
                                }

                                @media screen and (min-width: $xl-breakpoint) {
                                    .wpml-ls-native {
                                        //display: none;
                                    }
                                }
                                

                                @media screen and (max-width: $xl-breakpoint) {
                                    & {
                                        display: flex;
                                    }
                                }

                            }

                            .sub-menu {

                                @media screen and (min-width: $xl-breakpoint) {
                                    &{
                                        width: fit-content !important;
                                        left: 50% !important;
                                        transform: translateX(-50%);
                                        margin-left: 0 !important;
                                    }
                                }

                                

                                .menu-item{
                                        a{
                                            &:after {
                                                height: 0 !important;
                                            }

                                            img.wpml-ls-flag {
                                                max-width: 23px;
                                                height: 23px;
                                                border-radius: 50%;
                                            }
                                        }

                                }
                            }


                        }

                        

                        >.sub-menu {
                            display: none;
                            padding: 10px;
                            margin: 0px;
                            list-style: none;
                            position: absolute;
                            background-color: #fff;
                            border-radius: 10px;
                            -webkit-border-radius: 10px;
                            top: 100%;
                            left: 50%;
                            margin-left: -150px;
                            width: 300px;
                            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.14);
                            -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.14);

                            &:before {
                                content: '';
                                display: block;
                                position: absolute;
                                bottom: 100%;
                                left: 50%;
                                margin-left: -5px;
                                width: 0px;
                                height: 0px;
                                border-top: 7px solid transparent;
                                border-right: 10px solid transparent;
                                border-left: 10px solid transparent;
                                border-bottom: 7px solid #fff;
                            }

                            >li {
                                padding: 0px;
                                margin: 0px 0px 10px;

                                &:last-child {
                                    margin: 0;
                                }

                                a {
                                    padding: 5px;
                                    width: 100%;
                                    display: inline-flex;
                                    flex-direction: row;
                                    align-items: center;
                                    color: $textColor;
                                    font-size: 16px;
                                    font-weight: 400;

                                

                                    &:hover {
                                        color: $mainColor;
                                    }

                                    &:focus {
                                        box-shadow: 0 0 0 2px $mainColor;
                                        border-radius: 2px;
                                    }

                                    img {
                                        flex: 0 0 auto;
                                        max-width: 30px;
                                        height: 30px;
                                        margin-right: 15px;
                                    }

                                    span {
                                        flex: 1;
                                        display: block;
                                        //font-weight: 600;

                                        small {
                                            display: block;
                                            font-size: 12px;
                                            //font-weight: normal;
                                        }
                                    }
                                }


                                &.current_page_item, .current-menu-item {
                                    a {
                                        color: $mainColor;
                                    }
                                }


                                >.sub-menu {
                                    padding: 20px 0px 0px 30px;
                                    margin: 0px;
                                    list-style: none;

                                    >li {
                                        padding: 0px;
                                        margin: 0px 0px 20px;

                                        a {
                                            display: inline-flex;
                                            flex-direction: row;
                                            align-items: center;
                                            color: $textColor;
                                            font-size: 14px;
                                            font-weight: 400;

                                            &:hover {
                                                color: $mainColor;
                                            }

                                            img {
                                                flex: 0 0 auto;
                                                max-width: 30px;
                                                height: 30px;
                                                margin-right: 15px;
                                            }

                                            span {
                                                flex: 1;
                                                display: block;
                                                //font-weight: 600;

                                                small {
                                                    display: block;
                                                    font-size: 12px;
                                                   //font-weight: normal;
                                                }
                                            }
                                        }


                                        &.current_page_item, .current-menu-item {
                                            a {
                                                color: $mainColor;
                                            }
                                        }


                                    }

                                    

                                }
                            }
                        }
                    }


                    //mobile menu
                    @media (max-width: $menu-custom-breakpoint) {
                        justify-content: flex-start;
                        padding: 30px 0px 0px;
                        flex-direction: column;


                        & > li {
                            margin: 0px;
                            padding: 10px 0px;

                            margin: 0px 8px;
                            display: inline-block;

                            &:not(.nav-btn):not(.wpml-ls-item) > a {
                                padding: 6px 6px;

                                &:focus {
                                    padding: 4px 4px;
                                }
                            }

                            & > .sub-menu {
                                position: relative;
                                left: 0px;
                                width: 100%;
                                max-width: 320px;
                                margin: 20px 0px 0px;
                                padding: 20px 15px 1px;

                                &:before {
                                    left: 20px;
                                    margin: 0px;
                                }
                            }
                        }
                    }
                    



                }
            }
        }
    }

    &.scrolled {
        background-color: #0082c9;
        box-shadow: 4px 9px 80px 0px rgba(29, 43, 91, 0.14);
        -webkit-box-shadow: 4px 9px 80px 0px rgba(29, 43, 91, 0.14);

        .top-banner-vote{
            opacity: 0;
            height: 0;
            margin: 0;
        }

        .logo-holder {
            img {
                max-height: 38px !important;
                
            }
        }

        #menu-primary-menu-container {
            .primary-menu {
                &>li {
                    padding: 2px 0px !important;

                    &.nav-btn {
                        & > a {
                            padding: 7px 20px !important;
                            margin-top: 9px;
                        }
                    }
                }
            }
        }
    }


    @media (max-width: $menu-custom-breakpoint) {
        padding: 12px 0px;
        overflow-y: scroll;

        &.with-promo-banner {
            padding-top: 0 !important;
        }

        
        .header-holder .header-items {
            flex: 0 0 100%;
            max-width: 100%;
            display: none;
        }
        

    }

    @media (min-width: $menu-custom-breakpoint) {

        .phone-menu {
            display: none;
        }

        .header-holder .header-items {
            display: block;
        }

    }
}
