// SPDX-FileCopyrightText: 2022 Hipinspire <https://www.hipinspire.com/>
// SPDX-FileCopyrightText: 2022 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: AGPL-3.0-or-later

.home-hero-section {

    //padding: 125px 0px 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    padding-top: 9rem !important;
    padding-bottom: 4rem !important;

    @media screen and (max-width: $md-breakpoint) { // mobile
        & {
            padding-top: 8rem !important;
        }
    }

    .section-title {
        padding: 50px 0px;

        h1 {
            color: #fff;
            font-size: 96px;
            font-weight: 700;
            margin: 0px 0px 45px;
        }

        p {
            color: #fff;
            font-size: 24px;
            font-weight: 600;
            margin: 0px 0px 30px;

            a.c-btn{
                margin-top: 20px;
            }
            
        }
    }
}

.collaboration-section {
    padding: 80px 0px 80px;

    .text-block {
        text-align: center;

        h2 {
            color: #0C0726;
            margin: 0px 0px 10px;
        }

        p {
            font-size: 16px;
            line-height: 210.2%;
            margin: 0px 0px 20px;
        }

        .logos-list {
            width: 100%;
            max-width: 636px;
            padding: 0px;
            margin: 0px auto 20px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            li {
                margin: 0px 5px;

                img {
                    max-width: 96px;
                    max-height: 96px;
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}

.needs-section {
    position: relative;
    padding: 40px 0px 85px;
    background-color: #FFF;
    z-index: 5;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 185px;
        left: 0px;
        background: rgb(0, 130, 201);
        background: -moz-linear-gradient(45deg, rgba(0, 130, 201, 1) 0%, rgba(48, 182, 255, 1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(0, 130, 201, 1) 0%, rgba(48, 182, 255, 1) 100%);
        background: linear-gradient(45deg, rgba(0, 130, 201, 1) 0%, rgba(48, 182, 255, 1) 100%);
        z-index: 1;
    }

    .section-title {
        position: relative;
        padding-right: 150px;
        padding-bottom: 50px;
        z-index: 10;

        h2 {
            color: #fff;
            margin: 0px 0px 25px;
        }

        p {
            color: #fff;
            margin: 0px;
        }
    }

    .needs-slider {
        z-index: 11;

        .slick-list {
            margin: 0px -15px;
        }

        .slick-track {
            display: flex !important;
        }

        .slick-slide {
            margin: 20px 15px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            border: 2px solid transparent;
            height: inherit !important;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;

            &:hover {
                border-color: #30B6FF;
                margin: 0px 15px;

                .slide-box {
                    padding: 60px 10px;
                }
            }
        }

        .slide-box {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 40px 10px;
            text-align: center;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;

            &.box-1 {
                background-image: url('../img/bg01a.png');
            }

            &.box-2 {
                background-image: url('../img/bg01b.png');
            }

            img {
                max-width: 88px;
                max-height: 88px;
                width: auto;
                height: auto;
                margin: 0px auto;
            }

            h4 {
                color: #0C0726;
                font-size: 24px;
                font-weight: 700;
                margin: 0px 0px auto;

                &:before {
                    content: '';
                    display: block;
                    width: 65px;
                    height: 2px;
                    margin: 70px auto 15px;
                    background-color: #30B6FF;
                }
            }

            .c-btn {
                margin-top: 20px;
                min-width: 140px;
                padding: 11px 30px;
                font-size: 16px;
            }
        }

        .slick-arrow {
            display: block;
            position: absolute;
            padding: 0px;
            width: 61px;
            height: 61px;
            top: -156px;
            border: none;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            background-color: #004871;
            background-repeat: no-repeat;
            background-position: left 26px center;
            background-image: url('../img/arrow01.svg');
            font-size: 0px;
            z-index: 50;

            &.slick-prev {
                right: 76px;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);

                &.slick-disabled {
                    background-color: transparent;
                    background-image: url('../img/arrow02.svg');
                    background-position: left 23px center;
                    transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                }
            }

            &.slick-next {
                right: 0px;

                &.slick-disabled {
                    background-color: transparent;
                    background-image: url('../img/arrow02.svg');
                    background-position: left 23px center;
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                }
            }
        }
    }
}

.products-section {
    position: relative;
    padding: 100px 0px;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        right: 30%;
        bottom: 0px;
        left: 0px;
        background-color: #0F0833;
        border-top-right-radius: 30px;
        -webkit-border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        -webkit-border-bottom-right-radius: 30px;
        z-index: -1;
    }

    .button-block {
        width: 100%;
        text-align: center;

        .video-btn {
            width: 450px;
            height: 450px;
            padding: 170px 0px 0px;
            border: none;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            background: url('../img/play.svg') left 200px top 160px no-repeat, rgb(0, 130, 201);
            background: url('../img/play.svg') left 200px top 160px no-repeat, -moz-linear-gradient(45deg, rgba(0, 130, 201, 1) 0%, rgba(48, 182, 255, 1) 100%);
            background: url('../img/play.svg') left 200px top 160px no-repeat, -webkit-linear-gradient(45deg, rgba(0, 130, 201, 1) 0%, rgba(48, 182, 255, 1) 100%);
            background: url('../img/play.svg') left 200px top 160px no-repeat, linear-gradient(45deg, rgba(0, 130, 201, 1) 0%, rgba(48, 182, 255, 1) 100%);
            color: #fff;
            font-size: 36px;
            font-weight: 700;
        }
    }

    .section-title {
        padding-bottom: 30px;

        h2 {
            color: #fff;
        }
    }

    .products-accordion {
        .accordion-card {
            padding: 0px 40px;
            border: 2px solid transparent;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            margin: 0px 0px 30px;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;

            &.active {
                padding: 40px;
                border-color: #211949;
                -webkit-box-shadow: 10px 30px 60px 0px rgba(0, 0, 0, 0.23);
                -moz-box-shadow: 10px 30px 60px 0px rgba(0, 0, 0, 0.23);
                box-shadow: 10px 30px 60px 0px rgba(0, 0, 0, 0.23);

                .card-btn {
                    .icon {
                        background-color: #30B6FF;
                    }

                    &:after {
                        transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                    }
                }
            }

            .card-btn {
                position: relative;
                background-color: transparent;
                padding: 0px;
                width: 100%;
                border: none;
                display: flex;
                align-items: center;
                flex-direction: row;

                .icon {
                    flex: 0 0 50px;
                    width: 50px;
                    height: 50px;
                    background-color: rgba(255, 255, 255, 0.04);
                    background-repeat: no-repeat;
                    background-position: center center;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    background-size: 21px auto !important;
                }

                .name {
                    color: #fff;
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-left: 20px;
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    margin-top: -15px;
                    width: 30px;
                    height: 30px;
                    background-color: transparent;
                    background-image: url('../img/arrow03.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    transition: all 0.3s ease;
                    -webkit-transition: all 0.3s ease;
                }
            }

            .card-box {
                display: none;
                padding: 25px 0px 0px;
                color: #fff;

                p {
                    color: #fff;
                    line-height: 210.2%;
                }

                a {
                    color: #30B6FF;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 2.8px;
                    text-transform: uppercase;

                    &:after {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 10px;
                        margin-left: 10px;
                        background-image: url('../img/arrow04.svg');
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
            }
        }
    }
}

.why-section {
    padding: 40px 0px;
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 60px;
        bottom: 70px;
        left: 50%;
        width: 1px;
        background-color: #0C0726;
        opacity: 0.12;
    }

    .text-block {
        padding: 0px 30px 30px;

        img {
            max-width: 72px;
            height: auto;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        h2 {
            color: #0C0726;
            margin: 0px 0px 15px;
        }

        h3 {
            font-size: 36px;
            margin: 0px 0px 45px;
        }

        h4 {
            color: #0C0726;
            font-size: 18px;
            font-weight: 600;
            line-height: 166.2%;
        }

        p {
            line-height: 210.2%;
            margin: 0px;
        }

        .c-btn {
            margin-right: 15px;
            margin-bottom: 15px;
        }
    }
}

.video-modal {
    .modal-body {
        padding: 5px;
    }

    .video-holder {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 0px;
        padding-top: 56.25%;

        iframe {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }
    }
}

.columns-section {
    padding: 50px 0px;

    .spacer {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .section-title {
        text-align: center;
    }

    .left-orient {
        .image-block {
            img {
                float: right;
            }
        }
    }

    .image-block {
        width: 100%;

    }

    .text-block {
        h2 {
            margin: 0px 0px 20px;
        }

        p {
            line-height: 210.2%;

            b {
                color: #0C0726;
            }
        }

        ul {
            padding: 0px;
            margin: 0px 0px 20px;
            list-style: none;

            li {
                display: block;
                position: relative;
                line-height: 210.2%;
                padding-left: 20px;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0px;
                    top: 14px;
                    width: 7px;
                    height: 7px;
                    background-color: #30B6FF;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                }
            }
        }

        .mobile-media {
            display: none;
            max-width: 100%;
            height: auto;
            margin: 0px auto 30px;
        }

        a:not(.c-btn) {
            color: #30B6FF;
            text-decoration: underline;
        }
    }
}

.compliant-section {
    padding: 30px 0px;
    background-color: #0F0833;

    .text-block {
        padding: 100px 0px;

        h2 {
            color: #fff;
            margin: 0px 0px 35px;
        }

        p {
            color: #fff;
            line-height: 210.2%;
        }

        .c-btn {
            margin-top: 30px;
        }
    }

    .cont-box {
        width: 100%;
        min-height: 265px;
        margin-bottom: 25px;
        padding: 65px 30px 25px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        &.box-1 {
            background-image: url('../img/bg04a.png');
        }

        &.box-2 {
            background-image: url('../img/bg04b.png');
        }

        &.box-3 {
            margin-top: 65px;
            background-image: url('../img/bg04c.png');
        }

        &.box-4 {
            background-image: url('../img/bg04d.png');
        }

        &.white-box {
            h4 {
                color: #0C0726;

                &:before {
                    background-color: #30B6FF;
                }
            }

            .round-btn {
                background-color: #0C0726;
                background-image: url('../img/arrow05a.svg');
            }
        }

        &.dark-box {
            h4 {
                color: #fff;

                &:before {
                    background-color: #fff;
                }
            }

            .round-btn {
                background-color: #fff;
                background-image: url('../img/arrow05b.svg');
            }
        }

        h4 {
            font-size: 18px;
            font-weight: 700;

            &:before {
                content: '';
                display: block;
                width: 65px;
                height: 2px;
                margin-bottom: 15px;
            }
        }

        .round-btn {
            align-self: flex-end;
            display: block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            font-size: 0px;
            background-color: red;
            background-repeat: no-repeat;
            background-position: left 14px center;
        }
    }
}

.promo-section {
    padding: 55px 0px;
    background-image: url("https://nextcloud.com/wp-content/uploads/2022/12/nc-people-microsoft-integrations-titlebar.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    

    &:not(.full-width) {
        border-radius: $borderRadiusLarger;
        overflow: hidden;
    }

    .text-block {
        text-align: center;

        .icon {
            color: #fff;
            font-size: 1.2em;
            margin-bottom: 1rem;

            img {
                max-width: 50px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        h2 {
            color: #fff;
            margin-top: 0px !important;
        }

        p {
            color: #fff;
            font-size: 19px;
            font-weight: 600;
            line-height: 210.2%;
        }

        .c-btn {
            margin-top: 10px;
        }
    }

    &.full-width {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        margin-top: 4rem;
        margin-bottom: 4rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    &.promo_webinar {
        .nf-form-title {
            display: none;
        }

        .nf-form-content {
            label {
                color:#fff;

                a {
                    color:#fff !important;
                }
            }

            .field-wrap.checkbox-wrap {
                label {
                    text-align: left;
                }
            }

            input[type="button"], input[type="submit"] {
                background-color: #fff !important;
                color: $mainColor !important;

                &:hover {
                    background-color: $mainColor !important;
                    color: #fff !important;
                }
            }
        }
    }


    &.has_custom_bg_image {
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            height: 100%;
            width: 100%;
            background-color: rgba(0, 130, 201, 0.75);
        }

        .container {
            z-index: 2;
            position: relative;
        }
    }

}

.more-about-section {
    width: 100%;
    padding: 120px 0px 40px;

    .section-title {
        text-align: center;
        padding-bottom: 35px;
    }

    .box {
        width: 100%;

        .box-img {
            width: 100%;
            height: 0px;
            padding-top: 62%;
            overflow: hidden;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .box-body {
            width: 100%;
            padding: 50px 30px 50px;
            position: relative;

            .v-btn {
                display: block;
                position: absolute;
                width: 96px;
                height: 96px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                border: none;
                background: url('../img/play.svg') left 37px center no-repeat, rgb(0, 130, 201);
                background: url('../img/play.svg') left 37px center no-repeat, -moz-linear-gradient(45deg, rgba(0, 130, 201, 1) 0%, rgba(48, 182, 255, 1) 100%);
                background: url('../img/play.svg') left 37px center no-repeat, -webkit-linear-gradient(45deg, rgba(0, 130, 201, 1) 0%, rgba(48, 182, 255, 1) 100%);
                background: url('../img/play.svg') left 37px center no-repeat, linear-gradient(45deg, rgba(0, 130, 201, 1) 0%, rgba(48, 182, 255, 1) 100%);
                background-size: 30px auto, auto;
                top: -48px;
                right: 48px;
            }

            h5 {
                font-size: 18px;
                font-weight: 600;
                line-height: 166.2%;
                margin: 0px 0px 20px;
                text-transform: uppercase;
            }

            p {
                line-height: 210.2%;
            }
        }
    }
}



.home-hero-section {

    .hero-row {
        
        @media screen and (min-width: $md-breakpoint) {
            &{
                display: flex;
                align-items: center;
            }
        }


        .page-title{
            margin-bottom: 2.5rem !important;
    
            h1 {
                color: #fff;
                //font-weight: 700;
                font-size: 3rem;
                //line-height: 3.3rem;
                //line-height: 2.4rem;
            }

            span.subtitle {
                font-size: 1.4rem;
                font-weight: 500;
            }


            @media screen and (max-width: $md-breakpoint) {
                &{
                    text-align: center;
                }
            }

        }
    
        .hero-subtitle{
            font-size: 1.4rem;

            @media screen and (max-width: $md-breakpoint) {
                &{
                    text-align: center;
                }
            }
        }
    
        .hero-illustration {
            margin-bottom: 0 !important;
            //width: 150% !important;
            margin-right: -15rem;
        }
    
        .hero-btn {
            //margin-bottom: 0 !important;


            @media screen and (max-width: $md-breakpoint) {
                &{
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    text-align: center;
                }
            }
        }

        .nc-list {
            margin: 2rem auto;
        }



    }
}


/*
.clients_carousel {
    display: flex !important;

    .client_item {
        width: 150px;
        
        a {
            display: block;
            height: 100%;
            width: 100%;
        }

        img {
            height: auto;
            width: auto;
            max-width: 100%;
        }
    }
    
}
*/



.clients_carousel, .post_clients_carousel {
    margin: 2rem auto !important;
    
    //temporary until JS kicks in
    overflow: visible !important;
    display: flex;
    align-items: stretch;

        
    .owl-stage {
        display: flex;
        align-items: stretch;
    }


    .client_item {
        margin-top: 10px;
        margin-bottom: 10px;
        //padding: 2rem 0;
        box-shadow: 0 0 15px rgba(0,130, 201, 0.12);
        background: #fff;
        border-radius: 15px;
        
        flex: 1;


            .client_item_inner {
                border-radius: 15px;
                padding: 2rem 1.5rem;
                display: flex;
                aspect-ratio: 1;
                filter: grayscale(1);

                &:focus {
                    filter: grayscale(0);
                }

                a {
                    width: 100%;
                    display: flex;
                    
                    &:focus {
                        filter: grayscale(0);

                        img {
                            opacity: 1 !important;
                        }
                    }
                }

                img {
                    transition: all 0.3s ease;
                    //max-height: 100px;
                    width: auto !important;
                    margin: auto;
                    opacity: 0.5;
                    max-width: 100%;
                    align-self: center;
                    max-height: 100px;
                    min-width: 100px;

                }
            }
            

            &:hover {

                .client_item_inner {
                    filter: grayscale(0);

                    img {
                        opacity: 1 !important;
                    }
                }

                
            }

        
    }

    .owl-nav {
        transition: all 0.3s ease;
        display: block !important;
        position: absolute;
        //left: 0;
        top: 0;
        bottom: 0;
        font-size: 2em;
        height: fit-content;
        margin: auto;
        opacity: 0.4;
        line-height: 0;
        width: 100%;


        &:hover {
            opacity: 1;
        }

        .owl-prev {
            position: absolute;
            left: -25px;
        }

        .owl-next {
            position: absolute;
            right: -25px;
        }

    }
    
}






.img_stack_up {

    .vc_figure {
        img {
            height: 350px;
            width: auto;
        }
    }
}

.why_section {
    padding-top: 0 !important;

    .nc-separator-line {
        margin-top: -1rem;
        margin-bottom: 2rem;
    }
}


.product_tabs_preview { //col
    padding: 1rem;

    .nextcloud_product_preview {
        display: none; //default

        &:first-child, &.opened {
            display: block;
        }

        .wpb_single_image {
            a {
                display: block;
            }
        }


        .feature_list {
            margin-top: 1rem;

            ul{
                list-style-type: none;
                //text-align: center;
                padding-left: 0;
                width: fit-content;
                margin: auto;


                @media screen and (min-width:$tablet-breakpoint) {
                    & {
                        padding-left: 3rem;
                        padding-right: 3rem;
                    }
                }

                li{
                    padding: 9px 0;
                    display: block;
                    //margin: 10px;
                    //margin-right: 15px;
                    //width: 100%;
                    width: fit-content;
                    

                    @media screen and (min-width:$tablet-breakpoint) {
                        & {
                            width: calc(49% - 15px) !important;
                            display: inline-block !important;
                        }
                    }
                    
                    position: relative;
                    padding-left: 23px;
                    vertical-align: top;
    
                    &:before {
                        position: absolute;
                        content: "\f058";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        margin-right: 10px;
                        color: $mainColor;
                        left: 0;
                    }
                }


                &.full_width {
                    li{
                        width: 100% !important;
                    }
                }
            }
        }

    }


}

.nextcloud-hub-accordion {


    .product_tab {

        &:not(:last-child){
            margin-bottom: 2.5rem;
        }

        .vc_tta-panel-heading {
            background-color: transparent !important;
            border: none !important;
            background-image: none !important;
        

            .vc_tta-controls-icon {
                &::before {
                    color: $textColor !important;
                }
            }


            &:hover {
                background-color: transparent !important;
            }

            .vc_tta-panel-title {
                font-size: 1.2rem;
                font-weight: bold;

                a {
                    color: $textColor !important;
                    padding-left: 65px !important;

                }

                &:before {
                    transition: all 0.3s ease;
                    content: "";
                    width: 48px;
                    height: 48px;
                    position: absolute;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: $mainColor;
                    opacity: 0.25;
                    background-size: 22px auto;
                    background-repeat: no-repeat;
                    background-position: center;
                }

            }

        }

        .vc_tta-panel-body {
            padding-left: 0 !important;
            padding-right: 0 !important;
            background-image: none !important;
            background-color: transparent !important;
            border: none !important;
        }
        

        &.nextcloud_files_tab{
            .vc_tta-panel-title {
                &:before {
                    background-image: url('/wp-content/uploads/2022/09/nc-files-icon-white.svg');
                }
            }
        }

        &.nextcloud_groupware_tab{
            .vc_tta-panel-title {
                &:before {
                    background-image: url('/wp-content/uploads/2022/09/nc-groupware-icon.svg');
                }
            }
        }

        &.nextcloud_talk_tab{
            .vc_tta-panel-title {
                &:before {
                    background-image: url('/wp-content/uploads/2022/09/nc-talk-icon.svg');
                }
            }
        }

        &.nextcloud_office_tab{
            .vc_tta-panel-title {
                &:before {
                    background-image: url('/wp-content/uploads/2022/09/nc-office-icon.svg');
                }
            }
        }

        &.nc_integration_tab {
            .vc_tta-panel-title {
                &:before {
                    background-image: url('/wp-content/uploads/2022/09/puzzle-piece-solid-white.svg');
                }
            }
        }


        &.nc_product_mail {
            .vc_tta-panel-title {
                &:before {
                    background-image: url("/wp-content/uploads/2023/06/nc-mail-icon-white.svg");
                }
            }
        }

        &.nc_product_calendar {
            .vc_tta-panel-title {
                &:before {
                    background-image: url('/wp-content/uploads/2022/09/nc-icon-calendar-white.svg');
                }
            }
        }


        &.nc_product_contacts {
            .vc_tta-panel-title {
                &:before {
                    background-image: url('/wp-content/uploads/2022/09/nc-contacts-icon-white.svg');
                }
            }
        }   

        &.nc_product_deck {
            .vc_tta-panel-title {
                &:before {
                    background-image: url('/wp-content/uploads/2022/09/nc-icon-deck-white.svg');
                }
            }
        }

        //office presentation, writer, spreadsheet, Text
        &.nc_office_presentation, &.nc_office_writer, &.nc_office_spreadsheet, &.nc_office_text {
            .vc_tta-panel-title {
                &:before {
                    background-image: url('/wp-content/uploads/2022/09/nc-office-icon.svg');
                }
            }
        }



        &.vc_active {
            .vc_tta-panel-title {
                &:before {
                    opacity: 1;
                }
            }
        }

    }

}



.two_solutions_row {
    margin: 1rem auto;


    .wpb_wrapper{
        height: 100%;


        .nc_solution_box {
            height: 100%;
            
            a {
                height: 100%;
                transition: all 0.3s ease;
                background-color: $lightBG;
                border-radius: 15px;
                color: $textColor;
                display: block;

                .iconbox_container {
                    padding: 1.5rem;
                    padding-bottom: 4rem;
        
                    .icon {
                        font-size: 3rem;
                        margin-bottom: 0.5rem;
                        color: $mainColor;
                    }
        
                    .title, h4.title {
                        font-weight: bold;
                        font-size: 1.3rem;
                    }
        
                    .description {
                        margin-top: 1.5rem;
                    }
        
                    .see_more {
                        font-weight: bold;
                        display: block;
                        position: absolute;
                        bottom: 2rem;

                        i {
                            position: relative;
                            top: 1px;
                            left: 2px;
                            transition: all 0.3s ease;
                        }
                    }
                }

                &:hover {
                    background-color: rgba(0,130,201,0.25);
                   
                    .iconbox_container {
                        .see_more {
                            i {
                                left: 8px;
                            }
                        }
                    }
                }

        
            }
            
        
        }


    }

}



.video_previews_col {

    @media screen and (min-width: $md-breakpoint) {

        &{
            margin-top: -7rem;
            margin-bottom: -7rem;

            .wpb_row.vc_inner:first-child {
                .nc_video_preview_box {
                    transform: translateX(50px);
                }
            }

        }
        
    }
    


}



.nextcloud_outlook_preview{
    .nc_video_preview_box {
        max-width: 100% !important;
    }
}



.nc_video_preview_box {
    max-width: 450px;
    margin: 1.5rem auto;
    box-shadow: $boxShadow;

    &.full-width {
        max-width: 100% !important;

        a {
            .overlay {
                background: linear-gradient(45deg, rgba(0, 130, 201,0.8), rgba(28, 175, 255, 0.4))
            }
    
            .video_text {
                .icon {
                    @media screen and (min-width: $md-breakpoint) {
                        & {
                            font-size: 4.5rem;
                        }
                    }
                }
            }
        }

        
    }

    &.text-centered {
        a {
            .video_text {
                top: 0;
                right: 0;
                margin: auto;
                height: fit-content;
            }
        }
    }

    

    a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        color: #fff;
        border-radius: 15px;
        overflow: hidden;
        transition: all 0.3s ease;

        .overlay {
            transition: all 0.3s ease;
            background-color: rgba(0,130,201,0.55);
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: block;
            z-index:1;
        }


        &:hover {
            .overlay {
                background-color: rgba(0,130,201,0.75);
            }
        }

        img {
            width: 100%;
            height: auto;
        }

        .video_text {
            padding: 1.5rem;
            position: absolute;
            text-align: center;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 100%;

            .icon {
                font-size: 2.5rem;
            }

            .title {
                font-size: 1.3rem;
                font-weight: bold;
            }

            .subtitle {
                font-size: 0.8em;
            }
           
        }
    }
}




.home_events_row {

    @media screen and (min-width:$xl-breakpoint) {
        &{
            padding: 1rem 6rem;
        }
    }


    .nc_eventbox {

        a  {
            transition: all 0.3s ease;
            background: #fff;
            border-radius: 15px;
            padding: 1.5rem;
            padding-top: 0.5rem;
            box-shadow: 0 0 25px rgba(0, 130, 201, 0.12);
            color: $textColor !important;
            display: block;
            margin: 0;
            padding: 0;
            overflow: hidden;
    
            .image {
                aspect-ratio: 16/9;
                overflow: hidden;
    
                img {
                    max-width: 100%;
                    height: auto;
                    
                }
    
            }
    
            .event_box_container {
                padding: 1.5rem;
    
                .title {
                    font-weight: bold;
                }
    
                .event_meta {
                    display: flex;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    color: #919191;
                    font-size: 0.9em;
                    font-weight: bold;
    
                    .date {
                        margin-right: 10px;
                    }
    
                    i {
                        //font-size: 0.8em;
                        position: relative;
                        //top: -2px;
                        margin-right: 3px;
                        color: $textColor;
                    }
                }
    
                .description {
    
                }
    
                .btn, .see_more {
                    margin-top: 2rem;
                    margin-bottom: 0.5rem;
                    color: $mainColor !important;
                    font-weight: bold;
                    display: block;
                    text-align: left;
                }
    
            }
    
            
        }
    
    }



}






.compliant_iconboxes {
    padding-left: 3rem;
    padding-right: 3rem;

    /*
    @media screen and (min-width: $md-breakpoint) {
        &:first-of-type {
            transform: translateX(50px);
        }
    }
    */
    

    .nc_compliant_box {
        height: 100%;
        padding-bottom: 1rem;
        
        a {
            height: 100%;
            transition: all 0.3s ease;
            background-color: #fff;
            border-radius: 15px;
            color: $textColor;
            display: block;
            box-shadow: 0 0 25px rgba(0, 130, 201, 0.12);
    
            
            &:hover {
                background-color: rgba(0,130,201,0.15);
                //color: $textColor;
            }
    
            .iconbox_container {
                padding: 1.5rem;
                //padding-bottom: 4rem;
    
                .icon {
                    font-size: 1.7rem;
                    margin-bottom: 1rem;
                    //color: $mainColor;

                    img {
                        max-height: 29px;
                        display: inline;
                        margin-left: 0;
                        margin-right: auto;
                        width: auto;
                    }
                }
    
                .title, h4.title {
                    font-weight: bold;
                    font-size: 1.1rem;
                    
                }
    
                .description {
                    margin-top: 1.5rem;

                    &:empty {
                        margin: 0 !important;
                    }
                }
    
                .see_more {
                    margin-top: 10px;
                    //margin-top: 2rem;
                    font-weight: bold;
                    display: block;
                    //position: absolute;
                    //bottom: 2rem;
                    color: $mainColor;
                }
            }
    
        }


        &.youtube {
            .icon {
                color: $youtubeColor;
            }
        }
        
    
    }

}


.absoluteCenter {
    position: absolute;
    left: 0;
    right: 0;
}

.play-video-hub-btn {
    position: absolute;
    left: 0;
    right: 0;
}