// SPDX-FileCopyrightText: 2022 Hipinspire <https://www.hipinspire.com/>
// SPDX-FileCopyrightText: 2022 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: AGPL-3.0-or-later

.size-medium {
    width: 300px;
}

.size-small {
    width: 150px;
}

.size-small {
    width: 150px;
}

.size-full {
    width: 1000px;
}
