@media print { 
    /* All your print styles go here */
    //#header, #footer, #nav { display: none !important; } 


    header {
        //position: absolute;
        display: none;
    }

    .case_studies .case_study .vc_column-inner .vc_btn3-container {
        position: relative !important;
        bottom: 0 !important;
    }

}