// SPDX-FileCopyrightText: 2022 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: AGPL-3.0-or-later

$xs-breakpoint: 399.98px;
$sm-breakpoint: 575.98px;
$md-breakpoint: 767.98px;
$xl-breakpoint: 1199.98px;
$mainColor: #0082c9;
