// SPDX-FileCopyrightText: 2022 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: AGPL-3.0-or-later

$xs-breakpoint: 399.98px;
$sm-breakpoint: 575.98px;
$md-breakpoint: 767.98px;
$tablet-breakpoint: 991px;
$xl-breakpoint: 1199.98px;
$mainColor: #0082c9;
$lightColor: #1cafff;
$textColor: #191717;
$communityColor: rgb(219, 237, 248);
$successColor: #42E553;
$errorColor: #FE5252;
$lightBG: rgba(0,130,201,0.14);