// SPDX-FileCopyrightText: 2022 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: AGPL-3.0-or-later

$xs-breakpoint: 399.98px;
$sm-breakpoint: 575.98px;
$sm-breakpoint600: 600px;
$md-breakpoint: 767.98px;
$tablet-breakpoint: 991px;
$menu-custom-breakpoint: 1200px;
$menu-custom-breakpoint-min: 1201px;
$xl-breakpoint: 1199.98px;
$mainColor: #0082c9; //rgb(0, 130, 201)
$primary: #007bbd; // darker blue for accessibility
$mainColorDarker: #00659b;
$lightColor: #1cafff; // rgb(28, 175, 255)
$textColor: #050404;
$communityColor: rgb(219, 237, 248); //hex: #DBEDF8 // rgba(0, 130, 201, 0.14)
$successColor: #42E553;
$successBGColor: #00ce48;
$labelColor: #ffc28d;
$errorColor: #FE5252;
$warningColor: #ffe3b0;
$youtube: #FF0000;
$lightBG: rgba(0,130,201,0.14);

$boxShadow: 0 0 25px rgba(0,130, 201, 0.12);
$youtubeColor: #c4302b;
$blueGradient: linear-gradient(45deg, #0082c9 20%, #1cafff);
$blueGradient2: linear-gradient(45deg, #0082c9, #1CAFFF);
$pageHeroGradient: linear-gradient(45deg, #0082c9 20%, rgba(0, 130, 201, 0.15));
$lightBlueGradient: linear-gradient(45deg, #DBEDF8 20%, rgba(0, 130, 201, 0.1));
$borderRadius: 8px;
$borderRadiusSmall: 5px;
$borderRadiusSection:15px;
$borderRadiusLarger:25px;